@{
    ViewData["Title"] = "Totino, vera pizza Napoletana";
    Layout = null;

    List<Pizza> pizze = new();
    Pizza margherita = new Pizza("Margherita", "Pomodoro, Mozzarella, Basilico", "~/img/PizzaMargherita.jpg", 5.5f);
    Pizza italiana = new Pizza("Italiana", "Ruocola, Scaglie di parmiggiano, pomodorini e crudo", "~/img/PizzaRucola.jpg", 7.5f);
    Pizza croccopizza = new Pizza("Croccopizza", "Crocche e mozzarella, cotto e panna", "~/img/PizzaCroccoPizza.jpg", 8f);
    Pizza salsiccia = new Pizza("Salsiccia e Patatine", "Salsiccia, patatine fritte, mozzarella", "~/img/PizzaSalsiccia.jpg", 8.5f);

    pizze.Add(margherita);
    pizze.Add(italiana);
    pizze.Add(croccopizza);
    pizze.Add(salsiccia);
}
    <!DOCTYPE html>
    <html lang="en">

        <nav class="navbar bg-light">
            <div class="container-fluid">
                <span class="navbar-brand text-danger">Totino, vera pizza Napoletana</span>
                <span></span>
            </div>
        </nav>
            </header>
        <div class="container">
            <div class="row align-items-start">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Nome</th>
                            <th scope="col">Descrizione</th>
                            <th scope="col">Prezzo</th>
                            <th scope="col">Immagine</th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach(var pizza in pizze){
                    <tr>
                        <td>@pizza.Nome</td>
                        <td>@pizza.Descrizione</td>
                        <td>@pizza.Prezzo €</td>
                        <td><img src="@Url.Content(pizza.FotoUrl)" class="img-thumbnail w-25" alt="@pizza.Nome"></td>
                    </tr>
                }
                    </tbody>
                </table>

            </div>
        </div>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

        </html>

        <style>

        </style>